/*
 * Reference: Bootstrap 4 colors
 */

/*
 * Reference: https://flatuicolors.com/
 */

html,
body {
  background: #f8f9fa;
  width: 100%;
  height: 100%;
}

.app,
.app-sidebar,
.app-content {
  height: 100%;
}

.app {
  position: relative;
  width: 100%;
}

.app:before {
  content: "";
  height: 100%;
  float: left;
}

.app:after {
  content: "";
  clear: both;
  display: block;
}

.app .app-body {
  position: absolute;
  width: 100%;
  height: 100%;
}

.app .app-body .app-sidebar {
  background: #fff;
  float: left;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 15px 0;
  width: 260px;
}

.app .app-body .app-sidebar::-webkit-scrollbar {
  width: 3px;
}

.app .app-body .app-sidebar::-webkit-scrollbar {
  background-color: #dee2e6;
}

.app .app-body .app-sidebar::-webkit-scrollbar-thumb {
  background-color: #007bff;
}

@media (max-width: 767.99px) {
  .app .app-body .app-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2050;
    width: 0;
  }

  .app .app-body .app-sidebar.sidebar-open {
    width: 100%;
  }
}

.app .app-body .app-content {
  position: relative;
  overflow: auto;
}

.app .app-body .app-sidebar.sidebar-fade {
  -webkit-transition: opacity 0.3s linear, visibility 0.3s;
  transition: opacity 0.3s linear, visibility 0.3s;
}

@media (max-width: 767.99px) {
  .app .app-body .app-sidebar.sidebar-fade {
    width: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    visibility: hidden;
  }

  .app .app-body .app-sidebar.sidebar-fade.sidebar-open {
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    visibility: visible;
  }
}

.app .app-body .app-sidebar.sidebar-slide-left {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.app .app-body .app-sidebar.sidebar-dark {
  background: #34495e;
}

.app .app-body .app-sidebar.sidebar-dark::-webkit-scrollbar {
  background-color: #2b3c4e;
}

.app .app-body .app-sidebar.sidebar-dark::-webkit-scrollbar-thumb {
  background-color: #17a2b8;
}

.app .app-body .app-sidebar.sidebar-dark .btn-sidebar .x:before,
.app .app-body .app-sidebar.sidebar-dark .btn-sidebar .x:after {
  background-color: #98afc6;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-header .user-photo {
  background-color: #2b3c4e;
  border: 3px solid #17a2b8;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-header .username {
  color: #98afc6;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-group {
  background: #293a4a;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:active,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:focus,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:hover {
  color: #17a2b8;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-nav .sidebar-nav-link {
  color: #98afc6;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-link,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link {
  color: #dae2ea;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-link.collapsed,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link.collapsed {
  background-color: #34495e;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-link.collapsed .fa,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link.collapsed .fa {
  color: #98afc6;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-link:active,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-link:focus,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-link:hover,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link:active,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link:focus,
.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link:hover {
  background-color: #293a4a;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-link .fa {
  color: #98afc6;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link .fa {
  color: #17a2b8;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-footer:before {
  border-top: 1px solid #415b75;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-footer a {
  color: #98afc6;
}

.app .app-body .app-sidebar.sidebar-dark .sidebar-footer a:active,
.app .app-body .app-sidebar.sidebar-dark .sidebar-footer a:focus,
.app .app-body .app-sidebar.sidebar-dark .sidebar-footer a:hover {
  color: #fff;
}

.app .app-body .app-sidebar.sidebar-light {
  background: #ecf0f1;
}

.app .app-body .app-sidebar.sidebar-light::-webkit-scrollbar {
  background-color: #dee2e6;
}

.app .app-body .app-sidebar.sidebar-light::-webkit-scrollbar-thumb {
  background-color: #c1c9d0;
}

.app .app-body .app-sidebar.sidebar-light .btn-sidebar .x:before,
.app .app-body .app-sidebar.sidebar-light .btn-sidebar .x:after {
  background-color: #bac2cb;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-header .user-photo {
  background-color: #dee2e6;
  border: 3px solid #ced4da;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-header .username {
  color: #495057;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-group {
  background: #dde4e6;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:active,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:focus,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link:hover {
  color: #007bff;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-nav .sidebar-nav-link {
  color: #495057;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-link,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link {
  color: #495057;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-link.collapsed,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link.collapsed {
  background-color: #ecf0f1;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-link.collapsed .fa,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link.collapsed .fa {
  color: #adb5bd;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-link:active,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-link:focus,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-link:hover,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link:active,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link:focus,
.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link:hover {
  background-color: #d7e0e2;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-link .fa {
  color: #adb5bd;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link .fa {
  color: #868e96;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-footer:before {
  border-top: 1px solid #dee2e6;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-footer a {
  color: #868e96;
}

.app .app-body .app-sidebar.sidebar-light .sidebar-footer a:active,
.app .app-body .app-sidebar.sidebar-light .sidebar-footer a:focus,
.app .app-body .app-sidebar.sidebar-light .sidebar-footer a:hover {
  color: #007bff;
}

.btn-sidebar {
  background: transparent;
  font-size: 16pt;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .btn-sidebar {
    display: none;
  }
}

.btn-sidebar .x {
  display: block;
  width: 32px;
  height: 32px;
}

.btn-sidebar .x:before,
.btn-sidebar .x:after {
  background-color: #ced4da;
  position: absolute;
  content: "";
  height: 33px;
  width: 2px;
}

.btn-sidebar .x:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-sidebar .x:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.app-sidebar .sidebar-header {
  padding: 0 20px;
  text-align: center;
}

.app-sidebar .sidebar-header .user-photo {
  border: 3px solid #dee2e6;
  border-radius: 50%;
  height: 96px;
  padding: 3px;
  width: 96px;
}

.app-sidebar .sidebar-header .username {
  padding: 10px 0;
  white-space: nowrap;
}

.app-sidebar .sidebar-nav {
  overflow: hidden;
  padding: 0;
}

.app-sidebar .sidebar-nav .sidebar-nav-group .sidebar-nav-group .sidebar-nav-link {
  padding: 5px 57px 10px;
}

.app-sidebar .sidebar-nav .sidebar-nav-link {
  display: block;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.app-sidebar .sidebar-nav > .sidebar-nav-link,
.app-sidebar .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link {
  border: none;
  font-size: 13pt;
  font-weight: 400;
  padding: 15px 20px;
  white-space: nowrap;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.app-sidebar .sidebar-nav > .sidebar-nav-link .fa,
.app-sidebar .sidebar-nav > .sidebar-nav-group > .sidebar-nav-link .fa {
  font-size: 16pt;
  padding-right: 10px;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.app-sidebar .sidebar-footer {
  text-align: center;
  white-space: nowrap;
}

.app-sidebar .sidebar-footer:before {
  border-top: 1px solid #ced4da;
  content: "";
  display: block;
  margin: 15px auto;
  width: 90%;
}

.app-sidebar .sidebar-footer a {
  font-size: 16pt;
  outline: none;
  padding: 0 10px;
  text-decoration: none;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}

.form-sign {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-sign hr {
  width: 80px;
}

.page-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

label {
  margin-bottom: .25rem;
}

.label-infield {
  position: relative;
}

.label-infield > input {
  padding-top: 1.75rem;
}

.label-infield > label {
  position: absolute;
  top: 0;
  left: 0;
  color: #868e96;
  display: block;
  font-size: 11pt;
  line-height: 1.5;
  margin-bottom: 0;
  padding: .5rem .75rem;
  width: 100%;
}

.label-floating {
  position: relative;
}

.label-floating > input,
.label-floating > label {
  padding: 0.75rem 0.75rem;
}

.label-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #868e96;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.label-floating input::-webkit-input-placeholder {
  color: transparent;
}

.label-floating input:-moz-placeholder {
  color: transparent;
  filter: alpha(opacity=100);
  opacity: 1;
}

.label-floating input::-moz-placeholder {
  color: transparent;
  filter: alpha(opacity=100);
  opacity: 1;
}

.label-floating input:-ms-input-placeholder {
  color: transparent;
}

.label-floating input::-ms-input-placeholder {
  color: transparent;
}

.label-floating input:not(:placeholder-shown) {
  padding-top: calc(0.75rem + 0.75rem * (2 / 3));
  padding-bottom: calc(0.75rem / 3);
}

.label-floating input:not(:placeholder-shown) ~ label {
  padding-top: calc(0.75rem / 3);
  padding-bottom: calc(0.75rem / 3);
  font-size: 12px;
  color: #868e96;
}

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: .25rem;
  border-radius: .25rem;
}

.callout h4 {
  margin-top: 0;
  margin-bottom: .25rem;
}

.callout ul:last-child,
.callout ol:last-child,
.callout p:last-child {
  margin-bottom: 0;
}

.callout code {
  border-radius: .25rem;
}

.callout + .callout {
  margin-top: -.25rem;
}

.callout.callout-info {
  border-left-color: #5bc0de;
}

.callout.callout-info h4 {
  color: #5bc0de;
}

.callout.callout-warning {
  border-left-color: #f0ad4e;
}

.callout.callout-warning h4 {
  color: #f0ad4e;
}

.callout.callout-danger {
  border-left-color: #d9534f;
}

.callout.callout-danger h4 {
  color: #d9534f;
}

label.checkbox {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.checkbox input[type=checkbox] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

label.checkbox input[type=checkbox],
label.checkbox input[type=checkbox]:after,
label.checkbox input[type=checkbox]:before,
label.checkbox input[type=checkbox] *,
label.checkbox input[type=checkbox] *:after,
label.checkbox input[type=checkbox] *:before,
label.checkbox input[type=checkbox] + span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label.checkbox input[type=checkbox]::-moz-selection,
label.checkbox input[type=checkbox]:after::-moz-selection,
label.checkbox input[type=checkbox]:before::-moz-selection,
label.checkbox input[type=checkbox] *::-moz-selection,
label.checkbox input[type=checkbox] *:after::-moz-selection,
label.checkbox input[type=checkbox] *:before::-moz-selection,
label.checkbox input[type=checkbox] + span::-moz-selection {
  background: none;
}

label.checkbox input[type=checkbox]::selection,
label.checkbox input[type=checkbox]:after::selection,
label.checkbox input[type=checkbox]:before::selection,
label.checkbox input[type=checkbox] *::selection,
label.checkbox input[type=checkbox] *:after::selection,
label.checkbox input[type=checkbox] *:before::selection,
label.checkbox input[type=checkbox] + span::selection {
  background: none;
}

label.checkbox input[type=checkbox] + .check-mark {
  background-color: #fff;
  border: 1px solid #adb5bd;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  position: relative;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

label.checkbox input[type=checkbox] + .check-mark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.checkbox input[type=checkbox]:focus + .check-mark {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.25);
}

label.checkbox input[type=checkbox]:checked + .check-mark {
  background: #adb5bd;
}

label.checkbox input[type=checkbox]:checked + .check-mark:after {
  display: block;
}

label.checkbox input[type=checkbox]:disabled + .check-mark {
  cursor: not-allowed;
}

label.checkbox.checkbox-sm {
  font-size: 10pt;
}

label.checkbox.checkbox-sm input[type=checkbox] + .check-mark {
  height: 17px;
  width: 17px;
}

label.checkbox.checkbox-sm input[type=checkbox] + .check-mark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 9px;
}

label.checkbox.checkbox-lg {
  font-size: 13pt;
}

label.checkbox.checkbox-lg input[type=checkbox] + .check-mark {
  height: 25px;
  width: 25px;
}

label.checkbox.checkbox-lg input[type=checkbox] + .check-mark:after {
  left: 8px;
  top: 4px;
  width: 7px;
  height: 12px;
  border-width: 0 3px 3px 0;
}

label.checkbox-danger input[type=checkbox] + .check-mark {
  border-color: #dc3545;
}

label.checkbox-danger input[type=checkbox]:checked + .check-mark {
  background: #dc3545;
}

label.checkbox-danger input[type=checkbox]:checked:disabled + .check-mark {
  background: #eb8c95;
  border-color: #eb8c95;
}

label.checkbox-danger input[type=checkbox]:focus + .check-mark {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

label.checkbox-info input[type=checkbox] + .check-mark {
  border-color: #17a2b8;
}

label.checkbox-info input[type=checkbox]:checked + .check-mark {
  background: #17a2b8;
}

label.checkbox-info input[type=checkbox]:checked:disabled + .check-mark {
  background: #4cd3e9;
  border-color: #4cd3e9;
}

label.checkbox-info input[type=checkbox]:focus + .check-mark {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}

label.checkbox-primary input[type=checkbox] + .check-mark {
  border-color: #007bff;
}

label.checkbox-primary input[type=checkbox]:checked + .check-mark {
  background: #007bff;
}

label.checkbox-primary input[type=checkbox]:checked:disabled + .check-mark {
  background: #66b0ff;
  border-color: #66b0ff;
}

label.checkbox-primary input[type=checkbox]:focus + .check-mark {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

label.checkbox-success input[type=checkbox] + .check-mark {
  border-color: #28a745;
}

label.checkbox-success input[type=checkbox]:checked + .check-mark {
  background: #28a745;
}

label.checkbox-success input[type=checkbox]:checked:disabled + .check-mark {
  background: #5dd879;
  border-color: #5dd879;
}

label.checkbox-success input[type=checkbox]:focus + .check-mark {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

label.checkbox-warning input[type=checkbox] + .check-mark {
  border-color: #ffc107;
}

label.checkbox-warning input[type=checkbox]:checked + .check-mark {
  background: #ffc107;
}

label.checkbox-warning input[type=checkbox]:checked:disabled + .check-mark {
  background: #ffdb6d;
  border-color: #ffdb6d;
}

label.checkbox-warning input[type=checkbox]:focus + .check-mark {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

.form-group.has-error label {
  color: #dc3545;
}

.form-group.has-error .form-control {
  border: 1px solid #dc3545;
}

.form-group.has-error .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.input-group.as-input {
  cursor: text;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.input-group.as-input .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group.as-input .input-group-prepend > .input-group-text,
.input-group.as-input .input-group-append > .input-group-text {
  background-color: #fff;
}

.input-group.as-input.prepend .form-control {
  border-left: none;
}

.input-group.as-input.prepend .input-group-prepend > .input-group-text {
  border-right: none;
}

.input-group.as-input.append .form-control {
  border-right: none;
}

.input-group.as-input.append .input-group-append > .input-group-text {
  border-left: none;
}

.input-group.as-input.is-invalid .form-control,
.input-group.as-input.is-invalid .input-group-prepend > .input-group-text,
.input-group.as-input.is-invalid .input-group-append > .input-group-text {
  border-color: #dc3545;
}

.input-group.as-input.is-valid .form-control,
.input-group.as-input.is-valid .input-group-prepend > .input-group-text,
.input-group.as-input.is-valid .input-group-append > .input-group-text {
  border-color: #28a745;
}

.input-group.as-input.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-group.as-input.focus .form-control,
.input-group.as-input.focus .input-group-prepend > .input-group-text,
.input-group.as-input.focus .input-group-append > .input-group-text {
  border-color: #80bdff;
}

.input-group.as-input.focus.is-invalid {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.input-group.as-input.focus.is-invalid .form-control,
.input-group.as-input.focus.is-invalid .input-group-prepend > .input-group-text,
.input-group.as-input.focus.is-invalid .input-group-append > .input-group-text {
  border-color: #dc3545;
}

.input-group.as-input.focus.is-valid {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.input-group.as-input.focus.is-valid .form-control,
.input-group.as-input.focus.is-valid .input-group-prepend > .input-group-text,
.input-group.as-input.focus.is-valid .input-group-append > .input-group-text {
  border-color: #28a745;
}

.input-group.as-input.disabled .form-control,
.input-group.as-input.disabled .input-group-prepend > .input-group-text,
.input-group.as-input.disabled .input-group-append > .input-group-text,
.input-group.as-input.readonly .form-control,
.input-group.as-input.readonly .input-group-prepend > .input-group-text,
.input-group.as-input.readonly .input-group-append > .input-group-text {
  background: #e9ecef;
}

.input-suggestion {
  position: relative;
  border-radius: 0.25rem;
}

.input-suggestion .input-suggestion-list {
  background-color: #fff;
  border-bottom: 1px solid #007bff;
  border-left: 1px solid #007bff;
  border-right: 1px solid #007bff;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1050;
  -webkit-border-bottom-left-radius: 0.31rem;
  -webkit-border-bottom-right-radius: 0.31rem;
  -moz-border-bottom-left-radius: 0.31rem;
  -moz-border-bottom-right-radius: 0.31rem;
  border-bottom-left-radius: 0.31rem;
  border-bottom-right-radius: 0.31rem;
}

.input-suggestion .input-suggestion-list .list-group .list-group-item {
  border: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input-suggestion.open {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-suggestion.open input {
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-suggestion.open input,
.input-suggestion.open .input-suggestion-list {
  background-color: #fff;
  border-color: #80bdff;
  color: #495057;
  display: block;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

label.radio {
  margin-bottom: 0;
}

label.radio input[type=radio],
label.radio input[type=checkbox] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

label.radio input[type=radio] + .check-mark,
label.radio input[type=checkbox] + .check-mark {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 17px;
}

label.radio input[type=radio] + .check-mark:before,
label.radio input[type=checkbox] + .check-mark:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #adb5bd;
  border-radius: 100%;
}

label.radio input[type=radio] + .check-mark:after,
label.radio input[type=checkbox] + .check-mark:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #868e96;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

label.radio input[type=radio]:disabled + .check-mark,
label.radio input[type=checkbox]:disabled + .check-mark {
  color: #606a73;
  cursor: not-allowed;
}

label.radio input[type=radio]:disabled + .check-mark:before,
label.radio input[type=checkbox]:disabled + .check-mark:before {
  border-color: #bbc2c8;
}

label.radio input[type=radio]:disabled + .check-mark:after,
label.radio input[type=checkbox]:disabled + .check-mark:after {
  background: #a1a8ae;
}

label.radio input[type=radio]:checked + .check-mark:after,
label.radio input[type=checkbox]:checked + .check-mark:after {
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

label.radio input[type=radio]:not(:checked) + .check-mark:after,
label.radio input[type=checkbox]:not(:checked) + .check-mark:after {
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

label.radio.radio-sm input[type=radio] + .check-mark,
label.radio.radio-sm input[type=checkbox] + .check-mark {
  font-size: 10.5pt;
  line-height: 15px;
  padding-left: 24px;
}

label.radio.radio-sm input[type=radio] + .check-mark:before,
label.radio.radio-sm input[type=checkbox] + .check-mark:before {
  width: 16px;
  height: 16px;
}

label.radio.radio-sm input[type=radio] + .check-mark:after,
label.radio.radio-sm input[type=checkbox] + .check-mark:after {
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
}

label.radio.radio-lg input[type=radio] + .check-mark,
label.radio.radio-lg input[type=checkbox] + .check-mark {
  font-size: 14pt;
  line-height: 20px;
  padding-left: 32px;
}

label.radio.radio-lg input[type=radio] + .check-mark:before,
label.radio.radio-lg input[type=checkbox] + .check-mark:before {
  width: 22px;
  height: 22px;
}

label.radio.radio-lg input[type=radio] + .check-mark:after,
label.radio.radio-lg input[type=checkbox] + .check-mark:after {
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
}

label.radio-danger input[type=radio] + .check-mark:before,
label.radio-danger input[type=checkbox] + .check-mark:before {
  border-color: #dc3545;
}

label.radio-danger input[type=radio] + .check-mark:after,
label.radio-danger input[type=checkbox] + .check-mark:after {
  background: #dc3545;
}

label.radio-danger input[type=radio]:disabled + .check-mark:before,
label.radio-danger input[type=checkbox]:disabled + .check-mark:before {
  border-color: #eb8c95;
}

label.radio-danger input[type=radio]:disabled + .check-mark:after,
label.radio-danger input[type=checkbox]:disabled + .check-mark:after {
  background: #eb8c95;
}

label.radio-info input[type=radio] + .check-mark:before,
label.radio-info input[type=checkbox] + .check-mark:before {
  border-color: #17a2b8;
}

label.radio-info input[type=radio] + .check-mark:after,
label.radio-info input[type=checkbox] + .check-mark:after {
  background: #17a2b8;
}

label.radio-info input[type=radio]:disabled + .check-mark:before,
label.radio-info input[type=checkbox]:disabled + .check-mark:before {
  border-color: #4cd3e9;
}

label.radio-info input[type=radio]:disabled + .check-mark:after,
label.radio-info input[type=checkbox]:disabled + .check-mark:after {
  background: #4cd3e9;
}

label.radio-primary input[type=radio] + .check-mark:before,
label.radio-primary input[type=checkbox] + .check-mark:before {
  border-color: #007bff;
}

label.radio-primary input[type=radio] + .check-mark:after,
label.radio-primary input[type=checkbox] + .check-mark:after {
  background: #007bff;
}

label.radio-primary input[type=radio]:disabled + .check-mark:before,
label.radio-primary input[type=checkbox]:disabled + .check-mark:before {
  border-color: #66b0ff;
}

label.radio-primary input[type=radio]:disabled + .check-mark:after,
label.radio-primary input[type=checkbox]:disabled + .check-mark:after {
  background: #66b0ff;
}

label.radio-success input[type=radio] + .check-mark:before,
label.radio-success input[type=checkbox] + .check-mark:before {
  border-color: #28a745;
}

label.radio-success input[type=radio] + .check-mark:after,
label.radio-success input[type=checkbox] + .check-mark:after {
  background: #28a745;
}

label.radio-success input[type=radio]:disabled + .check-mark:before,
label.radio-success input[type=checkbox]:disabled + .check-mark:before {
  border-color: #5dd879;
}

label.radio-success input[type=radio]:disabled + .check-mark:after,
label.radio-success input[type=checkbox]:disabled + .check-mark:after {
  background: #5dd879;
}

label.radio-warning input[type=radio] + .check-mark:before,
label.radio-warning input[type=checkbox] + .check-mark:before {
  border-color: #ffc107;
}

label.radio-warning input[type=radio] + .check-mark:after,
label.radio-warning input[type=checkbox] + .check-mark:after {
  background: #ffc107;
}

label.radio-warning input[type=radio]:disabled + .check-mark:before,
label.radio-warning input[type=checkbox]:disabled + .check-mark:before {
  border-color: #ffdb6d;
}

label.radio-warning input[type=radio]:disabled + .check-mark:after,
label.radio-warning input[type=checkbox]:disabled + .check-mark:after {
  background: #ffdb6d;
}

label.switch {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 0;
  position: relative;
  border-radius: 2rem;
}

label.switch input[type=checkbox] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}

label.switch input[type=checkbox],
label.switch input[type=checkbox]:after,
label.switch input[type=checkbox]:before,
label.switch input[type=checkbox] *,
label.switch input[type=checkbox] *:after,
label.switch input[type=checkbox] *:before,
label.switch input[type=checkbox] + span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label.switch input[type=checkbox]::-moz-selection,
label.switch input[type=checkbox]:after::-moz-selection,
label.switch input[type=checkbox]:before::-moz-selection,
label.switch input[type=checkbox] *::-moz-selection,
label.switch input[type=checkbox] *:after::-moz-selection,
label.switch input[type=checkbox] *:before::-moz-selection,
label.switch input[type=checkbox] + span::-moz-selection {
  background: none;
}

label.switch input[type=checkbox]::selection,
label.switch input[type=checkbox]:after::selection,
label.switch input[type=checkbox]:before::selection,
label.switch input[type=checkbox] *::selection,
label.switch input[type=checkbox] *:after::selection,
label.switch input[type=checkbox] *:before::selection,
label.switch input[type=checkbox] + span::selection {
  background: none;
}

label.switch input[type=checkbox] + .switch-slider {
  background: #ced4da;
  border-radius: 2em;
  display: block;
  height: 2em;
  outline: 0;
  padding: 2px;
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 4em;
}

label.switch input[type=checkbox] + .switch-slider:after,
label.switch input[type=checkbox] + .switch-slider:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

label.switch input[type=checkbox] + .switch-slider:after {
  left: 0;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
}

label.switch input[type=checkbox] + .switch-slider:before {
  display: none;
}

label.switch input[type=checkbox]:checked + .switch-slider:after {
  left: 50%;
}

label.switch input[type=checkbox]:disabled + .switch-slider {
  background: #dde1e5;
  cursor: not-allowed;
}

label.switch input[type=checkbox]:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.25);
}

label.switch.switch-sm input[type=checkbox] + .switch-slider {
  border-radius: 1.5em;
  height: 1.5em;
  width: 3em;
}

label.switch.switch-lg input[type=checkbox] + .switch-slider {
  border-radius: 2.5em;
  height: 2.5em;
  width: 5em;
}

label.switch-danger input[type=checkbox] + .switch-slider {
  background: #dc3545;
}

label.switch-danger input[type=checkbox]:disabled + .switch-slider {
  background: #eb8c95;
}

label.switch-danger input[type=checkbox]:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

label.switch-info input[type=checkbox] + .switch-slider {
  background: #17a2b8;
}

label.switch-info input[type=checkbox]:disabled + .switch-slider {
  background: #4cd3e9;
}

label.switch-info input[type=checkbox]:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}

label.switch-primary input[type=checkbox] + .switch-slider {
  background: #007bff;
}

label.switch-primary input[type=checkbox]:disabled + .switch-slider {
  background: #66b0ff;
}

label.switch-primary input[type=checkbox]:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

label.switch-success input[type=checkbox] + .switch-slider {
  background: #28a745;
}

label.switch-success input[type=checkbox]:disabled + .switch-slider {
  background: #5dd879;
}

label.switch-success input[type=checkbox]:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

label.switch-warning input[type=checkbox] + .switch-slider {
  background: #ffc107;
}

label.switch-warning input[type=checkbox]:disabled + .switch-slider {
  background: #ffdb6d;
}

label.switch-warning input[type=checkbox]:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

label.switch-to-danger input[type=checkbox]:checked + .switch-slider {
  background: #dc3545;
}

label.switch-to-danger input[type=checkbox]:checked:disabled + .switch-slider {
  background: #eb8c95;
}

label.switch-to-danger input[type=checkbox]:checked:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

label.switch-to-info input[type=checkbox]:checked + .switch-slider {
  background: #17a2b8;
}

label.switch-to-info input[type=checkbox]:checked:disabled + .switch-slider {
  background: #4cd3e9;
}

label.switch-to-info input[type=checkbox]:checked:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.25);
}

label.switch-to-primary input[type=checkbox]:checked + .switch-slider {
  background: #007bff;
}

label.switch-to-primary input[type=checkbox]:checked:disabled + .switch-slider {
  background: #66b0ff;
}

label.switch-to-primary input[type=checkbox]:checked:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

label.switch-to-success input[type=checkbox]:checked + .switch-slider {
  background: #28a745;
}

label.switch-to-success input[type=checkbox]:checked:disabled + .switch-slider {
  background: #5dd879;
}

label.switch-to-success input[type=checkbox]:checked:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

label.switch-to-warning input[type=checkbox]:checked + .switch-slider {
  background: #ffc107;
}

label.switch-to-warning input[type=checkbox]:checked:disabled + .switch-slider {
  background: #ffdb6d;
}

label.switch-to-warning input[type=checkbox]:checked:focus + .switch-slider {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}

