@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);




landing-nav {
    width: 600px;
    margin: 50px;
}

landing-ul {
    width: 90%;
    list-style-type:none;
    margin:auto;
    padding:0;
    position:relative;
    left:5%;
}

landing-nav ul {
    list-style: none;
    margin: 50px 0 0 10px;
    height: 65px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 640px;
    overflow: hidden;

}

landing-nav li {
    background-color: #fff;
    width: 160px;
    text-align: center;
    display: inline-block;
    float: left;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-right: 1px solid #f5f0ec;
    transition: all .3s;
}

landing-nav li:before {
    content: '';
    position: absolute;
    background-color: #4daf7c;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    transition: height .3s;
}

landing-nav li:hover:before,
landing-nav li:focus:before {
    height: 3px;
}

landing-nav li:hover,
landing-nav li:focus {
    background-color: #f8f3f0;
}

landing-nav a {
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #876b53;
    position: relative;
}

landing-nav i.fa {
    font-size: 30px;
    line-height: 65px;
    vertical-align: middle;
    margin-right: 15px;
}

landing-nav .count {
    height: 13px;
    width: 13px;
    font-size: 7px;
    color: #fff;
    background-color: #e35f39;
    border-radius: 50%;
    display: inline-block;
    line-height: 13px;
    position: absolute;
    top: -8px;
}

.my-text-center {
    text-align: center;
}

.my-block-center {
    display: block;
    margin: auto;
}