.progressbar {
  counter-reset: step;
}

.progressbar li {
  list-style: none;
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff
}

.progressbar li:after {
  content: '';
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active{
  color: green;
}
.progressbar li.active:before{
  border-color: green;
}
.progressbar li.active + li:after{
  background-color: green;
}

.progressbar li:nth-child(2){
  color: red;
}
.progressbar li:nth-child(2):before{
  border-color: red;
}
.progressbar li:nth-child(2) + li:after{
  background-color: red;
}

.progressbar li:nth-child(3){
  color: blue;
}
.progressbar li:nth-child(3):before{
  border-color: blue;
}
.progressbar li:nth-child(3) + li:after{
  background-color: blue;
}