.app-sidebar .sidebar-header
{
    padding: 0 20px;
    text-align: center;

    .user-photo
    {
        height: 96px;
        padding: 3px;
        width: 176px;
    }

    .username
    {
        padding: 10px 0;
        white-space: nowrap;
    }
}
